services:
    modelKomponentz:
        class: App\Components\BaseStandardCmp\Model\Komponenty
    modelStranky:
        class: App\Components\BaseStandardCmp\Model\Stranky

production < common:

development < common: