<!DOCTYPE html>
<html lang="cs">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="Harmonydesign.cz">
    <!--<link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />-->
    <meta name="viewport" content="width=device-width" />
    
    <title>{ifset title}{include title|striptags} {/ifset} | Administrace - harmonydesign.cz</title>
   
    <!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
        <script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
        <script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
    {*-------------- end layout ------------------*}    
    
    {* startbootstrap-sb-admin-2-1.0.5  - generováno pomocí grunt-nette-basepath *}
    {*
    <!-- build:css {$basePath}/css/gen/sb-admin-2.min.css -->
    <link href="../{$basePath}/bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="../{$basePath}/bower_components/metisMenu/dist/metisMenu.min.css" rel="stylesheet" />
    <link href="../{$basePath}/startbootstrap-sb-admin-2-1.0.5/dist/css/timeline.css" rel="stylesheet" />
    <link href="../{$basePath}/startbootstrap-sb-admin-2-1.0.5/dist/css/sb-admin-2.css" rel="stylesheet" />
    <link href="../{$basePath}/bower_components/morrisjs/morris.css" rel="stylesheet" />
    <link href="../{$basePath}/bower_components/font-awesome/css/font-awesome.min.css" rel="stylesheet" />
    <!-- endbuild -->
    *}
    
    <link href="{$basePath}/css/sb-admin-2.min.css" rel="stylesheet" />
    
    {block head}{/block}
</head>

<body>
    <script src="{$basePath}/assets/plugins/jquery-1.11.1.min.js"></script>
    <script src="{$basePath}/js/netteForms.js"></script>
    <script src="{$basePath}/js/nette.ajax.js"></script>
    <script src="{$basePath}/js/sb-admin-2.min.js"></script> {* generováno gruntem *}
    <script src="{$basePath}/ext/jquery-fileupload/js/vendor/jquery.ui.widget.js"></script>
    <script src="{$basePath}/ext/jquery-fileupload/js/jquery.iframe-transport.js"></script>
    <script src="{$basePath}/ext/jquery-fileupload/js/jquery.fileupload.js"></script>
    {block scripts}
        
    {/block}
    
    <div id="wrapper">
        <!-- Navigation -->
        <nav class="navbar navbar-default navbar-static-top" role="navigation" style="margin-bottom: 0">
            {include "_topNavPanel.latte"}
            {include "_leftMenu.latte"}
        </nav>

        <div id="page-wrapper">
            {snippet contentRefresh}
                <div n:foreach="$flashes as $flash" n:class="flash, 'alert', 'alert-'.$flash->type" role="alert">{$flash->message}</div>
                {include content}
            {/snippet}
        </div>
        <!-- /#page-wrapper -->

        <footer>
            <p>Harmonydesign.cz &copy; {date("Y")}</p>
        </footer>
    </div>
    <!-- /#wrapper -->    
</body>

</html>