<div class="{$kompName}" id="{$uniqueId}">
    {snippet smartCmpCont}
	{foreach $flashes as $flash}
	    <div class="flash {$flash->type}">{$flash->message}</div>
	{/foreach}

	{block content}{/block}
	
	{block scripts}{/block}
    {/snippet}
</div>